span{
    font-size:xx-large;
}
h1{
    font-size:50px;
    font-family: sans-serif;
}
p{
    text-align: center;
    padding: 150px;
}
button{
    height: 30px;
    width: 100px;
    border-radius: 10px;
}
/*
.table1{
    background-color: bisque;
}*/
#p2{
    font-size: 25px;
}
figcaption{
    text-align: center;
    font-family: sans-serif;
   
}
a,figcaption{
    color: black;
    text-underline-offset: none;
  
}
div{
    background-color:thistle;
}
.p2{
    text-align:start;
    font-size: xx-large;
    font-weight: 800;
}
a{
    padding: 30px;
}
td{
    padding: 20px;
}