body{
    background-color:beige;
}
header{
    /*background-color:darkolivegreen;*/
    background-color:darkgray;
    text-align: center;
}
legend{
    font-family: sans-serif;
    font-size:larger;
}
p{
    font-style: italic;
    
}
fieldset,input,option,select,textarea{
    border-radius: 4px;
    border-width: 2px;
}
label,pre{
    font-weight: 500;
}
button{
    background-color: grey;
    border-radius: 4px;
    border-width: 2px;
    
}